
.slider-wrapper
  width 100%
  height 100%

.slider-wrapper
  overflow hidden
  width 100%
  transition height 0.2s

.slides-container
  display flex
  flex-wrap nowrap
  align-items flex-start
  transition margin 0.2s
