@require "~views/styles/colors.styl"

.wrapper
  position relative
  width 700px
  margin 30px 0

  & > *
    width 100%
    height 100%

.buttons-wrapper
  display flex
  justify-content center
  padding 15px 0 5px

  & > *
    margin 0 10px

.delimiter-h
  padding 10px 0

.delimiter-content-h
.delimiter-content-v
  display flex
  flex-direction column
  justify-content center
  align-items center

.delimiter-content-h
  padding 0 10px

.delimiter-content-v
  padding 10px 0

.auth-with-social
  display flex
  flex-direction column
  justify-content center
  align-items center

.social-button
  width 256px
  margin 10px 0

  &.facebook
  &.facebook button
    background-color COLOR_FACEBOOK !important

  &.google
  &.google button
    background-color COLOR_GOOGLE !important
