
.wrapper
  position relative
  display flex
  border 2px dotted #E0E0E0
  border-radius 6px

.upload-button
  position absolute
  top 50%
  right 50%
  transform translate(50%, -50%)

  &.pinned
    top -20px
    right 10px
    transform translate(0, 0)

.cropper
  display flex
  justify-content center
  width 100%

  & > *
    overflow hidden
    width 100%
    height 100%
    border-radius 4px
