borderSize = -3px

.wrapper
.image
.content
  border-radius 50%

.wrapper
  position relative

  &.border
    &:before
    &:after
      content ''
      position absolute
      top borderSize
      left borderSize
      right borderSize
      bottom borderSize
      border-radius 50%

    &:before
      z-index 2
      box-shadow rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px

    &:after
      z-index 4
      background white

.image
  position relative
  z-index 10
  overflow hidden
  width 100%
  height 100%

.content
  z-index 20
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  display flex
  justify-content center
  align-items center
  background rgba(0, 0, 0, 0.2)
  border-radius 50%
  opacity 0
  transition opacity 0.2s


  .wrapper:hover &
    opacity 1
