
.wrapper
  width 920px
  margin 30px 0

.header
  display flex
  justify-content space-between
  align-items center

.empty
  width 100%
  padding 50px 0
  font-size 20px
  text-align center
  color rgba(0, 0, 0, 0.87)

.dialog-list
  display flex
  flex-wrap wrap
  justify-content space-between

.dialog-item
  width calc(50% - 15px)
  margin 10px 5px 10px 10px

  &:nth-child(2n)
    margin-left 5px
    margin-right 10px

  &:nth-child(n+3)
    margin-top 0

.breadcrump-link
  margin 0 10px
  text-decoration none
  font-size 16px
  color #00bcd4

  &:hover
    text-decoration underline
