
.wrapper
  width 1065px
  margin 30px 0

.block
  overflow hidden
  margin-bottom 30px
  border-radius 6px

  &.padding
    padding 30px
    line-height 20px

    img
      float left
      margin 0 15px 15px 0
