delimiterColor = #D0D0D0


.delimiter
  position relative
  flex 0 0 auto
  display flex
  align-items center

  &:before
    content ''
    z-index 1
    position absolute

.delimiter-text
  z-index 2
  position relative
  padding 10px 5px
  background white
  color delimiterColor

.delimiter-content
  flex 1 1 auto

.horizontal
.vertical
  display flex
  justify-content space-between
  align-items stretch

.horizontal
  width 100%

  & > .delimiter:before
    top 0
    left 50%
    bottom 0
    border-left 1px solid delimiterColor

.vertical
  flex-direction column
  height 100%

  & > .delimiter
    flex-direction column

    &:before
      top 50%
      left 0
      right 0
      border-top 1px solid delimiterColor
