
.wrapper
  display flex
  justify-content space-between
  width 100%

.uploader
.controls
  flex 1 1 auto
  width calc(50% - 15px)

.uploader
  margin-right 15px

.controls
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  margin-left 15px

.buttons
  .button
    margin 0 15px

.preview
  overflow hidden
  width 100px
  height 100px
  border-radius 50%
