
.wrapper
  display flex
  padding 5px 24px

  //&.not-read
  //  background #eaeaea

  &.in
    justify-content flex-start

    & + .wrapper.in
      .message:before
        display none

    .message
      order 1
      margin-right 16px
      background #6d9faa

      &:before
        left -8px
        border-bottom-color #6d9faa
        transform rotate(45deg)

    .time
      order 2

  &.out
    justify-content flex-end

    & + .wrapper.out
      .message:before
        display none

    .message
      order 2
      margin-left 16px
      background #dbdbdb

      &:before
        right -8px
        border-bottom-color #dbdbdb
        transform rotate(-45deg)

    .time
      order 1

.message
  position relative
  padding 8px 20px
  border-radius 6px

  &:before
    content ''
    top -15px
    position absolute
    border 15px solid transparent

.time
  padding-top 11px
  font-size 12px
