
.wrapper
  width 920px
  margin-top 30px



.message-list
  overflow-y auto
  display flex
  flex-direction column
  padding 10px 0

.input-wrapper
  display flex
  justify-content space-between
  align-items flex-start
  padding 10px

.input
  flex 1 1 auto

.send-button
  flex 0 0 auto
  margin 3px 0 0 20px

.breadcrump-link
  margin 0 10px
  text-decoration none
  font-size 16px
  color #00bcd4

  &:hover
    text-decoration underline
