
.step-1
  height 200px

.input-fields
  display flex
  flex-wrap wrap
  justify-content space-between
  padding 0 20px 20px

.input-field
  display flex
  justify-content space-between

  &.half
    width calc(50% - 10px)

  & > *
    width 100% !important

.input-delimiter
  width 100%
  margin-top 20px
  border-bottom 1px solid rgba(0, 0, 0, 0.6)
  color rgba(0, 0, 0, 0.6)

.content-wrapper
  padding 0 20px

.photo-uploader
  width 100%
  height 300px
