
.wrapper
  position relative
  display flex
  flex-direction column
  align-items center
  width 100%

.background
  z-index -1
  position absolute
  top 0
  left 0
  right 0
  width 100%
  height 200px
  background red

.profile-info
  flex 0 0 auto
  width 920px
  margin-top 150px

.header
  position relative
  display flex
  justify-content flex-start

  .photo
    position relative
    top -70px
    width 200px
    height 200px
    margin-left 30px
    margin-bottom -70px

  .info-block
    flex 1 1 auto
    margin-top 20px
    margin-left 30px

    .name
      & > span
        margin-left 10px
        color #aaa
        font-size 12px

    .contacts
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-top 20px
      font-size 14px

    .contact
      width 50%

      & > span
        margin-right 10px
        color #aaa

.main-block
  display flex
  justify-content flex-start
  align-items stretch
  padding 30px 30px 0

  .actions
    flex 0 0 auto
    display flex
    flex-direction column
    align-items stretch
    width 200px
    margin-right 30px

  .details
    flex 1 1 auto

.action-button
  margin-bottom 10px

.uploader
  width 100%
  height 300px

.block
  margin-bottom 30px
