
.wrapper
  width 100%
  height 70px
  border-bottom 1px solid silver

.user-name
  color rgba(0, 0, 0, 0.87)
  text-decoration none

.user-photo
  display inline-block
  width 40px
  height 40px
  border-radius 50%
  box-shadow rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px
