
.title-wrapper
  cursor pointer

.layout-wrapper
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  min-height 100%

.header-wrapper
  display flex
  justify-content center
  width 100%
  height 40px
  line-height 40px
  background linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0) 100%)

.header-centered
  display flex
  justify-content space-between
  width 920px

.header-menu
  display flex

.header-link
  margin-left 20px

  &.active
    color red

.routes
  flex 1 1 auto
