
.wrapper
  position relative
  display flex
  flex-direction column
  min-height 60px

.contents-wrapper
  overflow hidden
  width 100%
  transition height 0.2s

.contents
  display flex
  flex-wrap nowrap
  align-items flex-start
  transition margin 0.2s

.step-content
  width 100%
  flex 0 0 auto

.buttons-wrapper
  display flex
  justify-content center
  padding 24px 0

  & > *
    margin 0 10px

.spinner
  z-index 99
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  display flex
  justify-content center
  align-items center
  background alpha(white, 0.5)
